{% extends 'home/base.html' %}

{% block js_app %}
{% endblock %}

{% block body %}


<h1>Submit Form:</h1>
<div class="row">
  <div class="col-sm-12">
      <form id="submit_form">
        <div class="row">
          <div class="col-sm-5">
            <div class="form-group">
              <input type="search" id="id_name" name="name" class="form-control input-sm" placeholder="Type your name">
            </div>
          </div>
          <div class="col-sm-5">
            <div class="form-group">
              <input type="search" id="id_email" name="email" class="form-control input-sm" placeholder="Type your email">
            </div>
          </div>
          <div class="col-sm-2">
            {% csrf_token %}
            <button type="submit" class="btn btn-info btn-block">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>

<a href="{% url 'home:welcome' %}">Back</a>

{% endblock %}
