{% load static %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>B2Blue test</title>
  <meta name="description" content="B2Blue test">
  <meta name="author" content="Rodrigo Reis">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- load boostrap css -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- load base css -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>


</head>

<body>
  <!-- load page content -->
  {% block body %}
  {% endblock %}

  <!-- loading container -->
  <div id="loading">
    <div class="spinner2"></div>
    <div class="spinner1"></div>
    <div class="spinner1"></div>
    <div class="spinner1"></div>
    <div class="spinner1"></div>
    <div class="spinner1"></div>
    <div class="spinner1"></div>
    <div class="spinner1"></div>
    <div class="spinner1"></div>
    <div class="spinner1"></div>
    <div class="spinner1"></div>
    <div class="spinner1"></div>
    <div class="spinner1"></div>
  </div>
  <!-- load jquery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <!-- load i18n -->
  <script src="{% static 'libs/i18n/src/jquery.i18n.js' %}"></script>
  <script src="{% static 'libs/i18n/src/jquery.i18n.messagestore.js' %}"></script>
  <script src="{% static 'libs/i18n/src/jquery.i18n.fallbacks.js' %}"></script>
  <script src="{% static 'libs/i18n/src/jquery.i18n.parser.js' %}"></script>
  <script src="{% static 'libs/i18n/src/jquery.i18n.emitter.js' %}"></script>
  <script src="{% static 'libs/i18n/src/jquery.i18n.language.js' %}"></script>
  <script src="{% static 'libs/i18n/i18n.js' %}"></script>
  <!-- <script src="{% static 'libs/i18n/messages.json' %}"></script> -->
  <!-- load bootstrap js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <!-- load main js -->
  <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
  <!-- load one js -->
  <script src="{% static 'js/page-one.js' %}" type="text/javascript"></script>
  <!-- load two js -->
  <script src="{% static 'js/page-two.js' %}" type="text/javascript"></script>
  <!-- load three js -->
  <script src="{% static 'js/page-three.js' %}" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      {% block js_app %}
      {% endblock %}
    });
  </script>
</body>
</html>
