{% extends 'home/base.html' %}
{% block body %}

<h1>Tests:</h1>
<ul>
  <li>1: <a href="{% url 'one:search' %}">Search</a></li>
  <li>2: <a href="{% url 'two:submit' %}">Submit form</a></li>
  <li>3: <a href="{% url 'three:translate' %}">Locale vs Internationalization</a></li>
</ul>

{% endblock %}
