{% extends 'home/base.html' %}

{% block js_app %}
{% endblock %}

{% block body %}


<h1 data-i18n="test-title">Local vs Internationalization:</h1>
<h2><a href="#" onclick="javascript:switch_locale('en');">EN</a> | <a href="#" onclick="javascript:switch_locale('pt-br');">PT-BR</a></h2>
<div class="row">
  <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-5">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" data-i18n="test-currency">$</span>
            </div>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <div class="input-group-append">
              <span class="input-group-text">.00</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<a href="{% url 'home:welcome' %}" data-i18n="test-back">Back</a>

{% endblock %}
