{% extends 'home/base.html' %}

{% block js_app %}
get_list_profile_page(1);
{% endblock %}

{% block body %}


<h1>Search:</h1>
<div class="row">
  <div class="col-sm-12">
      <form id="search_profile">
        <div class="row">
          <div class="col-sm-10">
            <div class="form-group">
              <input type="search" id="id_search" class="form-control input-sm" placeholder="Type name or email">
            </div>
          </div>
          <div class="col-sm-2">
            <button type="submit" class="btn btn-info btn-block">Search</button>
          </div>
        </div>
      </form>
    <table id="profile_list" class="table table-striped table-hover table-fw-widget table-responsive">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
    <tbody></tbody>
    </table>
    <div class="pagination"></div>
    </div>
  </div>

<a href="{% url 'home:welcome' %}">Back</a>

{% endblock %}
