.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 18px 0;
  border-radius: 0;
}
.pagination > li {
  display: inline;
}
.pagination > li > a {
  position: relative;
  float: left;
  padding: 8px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #ef6262;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}
.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus {
  z-index: 3;
  color: #fff;
  background-color: #ef6262;
  border-color: #ef6262;
  cursor: default;
}
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777777;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}

@keyframes spinner {
	0%, 100% { opacity: 0; }
	50% { opacity: 1; }
}
div.spinner1 {
	width: 0.5rem;
	height: 4rem;
	margin-top: -4rem;
	margin-left: -0.25rem;
	position: absolute;
	left: 50%;
	top: 50%;
	border-top: 2rem solid #333;
	transform: rotate(calc(var(--i) * 30deg));
	transform-origin: 50% 100%;
	animation: spinner 1.2s calc((var(--i) - 12) * 0.1s) infinite;
  z-index: 1;
}

div.spinner1:nth-child(1) { --i: 0; }
div.spinner1:nth-child(2) { --i: 1; }
div.spinner1:nth-child(3) { --i: 2; }
div.spinner1:nth-child(4) { --i: 3; }
div.spinner1:nth-child(5) { --i: 4; }
div.spinner1:nth-child(6) { --i: 5; }
div.spinner1:nth-child(7) { --i: 6; }
div.spinner1:nth-child(8) { --i: 7; }
div.spinner1:nth-child(9) { --i: 8; }
div.spinner1:nth-child(10) { --i: 9; }
div.spinner1:nth-child(11) { --i: 10; }
div.spinner1:nth-child(12) { --i: 11; }

@keyframes spinner2 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
div.spinner2 {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  position: absolute;
	left: 50%;
	top: 50%;
  vertical-align: text-bottom;
  border: .25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner2 .75s linear infinite;
  z-index: 1;
}

@media (min-width: 769px) {
  .spinner1 {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .spinner2 {
    display: none !important;
  }
}

#loading {
  display: none;
}
